# Front-end test

- Processo Seletivo utilizando biblioteca Pandas no Python, com o objetivo em atender as seguintes tarefas:

        * Deverá possuir 2 selects com os filtros por nome e cor da pele. Ao selecionar multiplas opções desses selects, a tabela deverá ser atualizada de acordo com os filtros selecionados;
        
        * A tabela deverá possuir as colunas com as propriedades e respectivos valores de acordo com o retorno da api nome , altura, peso, aniversário e genero;
        
        *  A tabela deverá possuir um botão de detalhamento em cada linha, onde os demais valores retornados da api deverão estar disponiveis para visualização. Utilize o layout de acordo achar necessário;
        
        * Possuir paginação

- Foi utilizado o Pandas pois é uma ferramenta importante e fundamental biblioteca na manipulação de dados via Python.

- Foi necessário utilizar uma tabela genérica "tabela_gnc.xlsx" para contemplar a atividade.

### Importando o pandas

In [6]:
import pandas as pd
import ipywidgets as widgets

### Importando arquivos e bases de dados // Visualização dos dados brutos
    
    - display

In [10]:
tabela_gnc_df = pd.read_excel("tabela_gnc.xlsx")
display(tabela_gnc_df)

,estado,nome,cor_pele,genero,peso,altura,aniversario,detalhe
0,RR,ABEL SALVADOR MESQUITA JUNIOR,Parda,Mulher,61235.0,181908.0,2019-01-04,não
1,MT,ADILTON DOMINGOS SACHETTI,Parda,Homem,97432.0,181908.0,2019-01-04,não
2,SP,ADRIANO ELI CORREA,Parda,Homem,73324.0,172459.0,2019-01-04,sim
3,MG,AELTON JOSE DE FREITAS,Parda,Mulher,56886.0,157748.0,2019-01-04,sim
4,RS,AFONSO ANTUNES DA MOTTA,Branca,Mulher,56886.0,151798.0,2019-01-05,sim
...,...,...,...,...,...,...,...,...
304,RJ,JEAN WYLLYS DE MATOS SANTOS,Branca,Mulher,67973.0,155722.0,2020-02-04,sim
305,SP,JEFFERSON ALVES DE CAMPOS,Branca,Homem,67973.0,177699.0,2020-01-23,sim
306,BA,JOAO CARLOS PAOLILO BACELAR FILHO,Branca,Mulher,56011.0,158388.0,2020-01-23,sim
307,MG,JOAO CARLOS SIQUEIRA,Branca,Mulher,53106.0,157618.0,2020-01-23,sim
308,RS,JOAO DERLY DE OLIVEIRA NUNES JUNIOR,Preta,Homem,78882.0,165412.0,2020-02-10,sim

### Resumos de Visualização de Dados simples e úteis detalhamento
    
    - Descrever informações inerente aos dados

In [10]:
display(tabela_gnc_df.describe())

                peso         altura
count     309.000000     309.000000
mean    72867.993528  165562.236246
std     15476.830602   11082.518412
min     31783.000000  147246.000000
25%     61235.000000  157356.000000
50%     70368.000000  166239.000000
75%     88478.000000  174042.000000
max    111793.000000  195127.000000

### Pegar 2 colunas (Nome, Cor_de_Pele) das 30 primeiras linhas
    
    - Caso necessário, pode alterar o filtro desejado da tabela

In [17]:
select = tabela_gnc_df[['nome', 'cor_pele']]
display(select.loc[1:30])

                                       nome              cor_pele
1                 ADILTON DOMINGOS SACHETTI  Parda
2                        ADRIANO ELI CORREA  Parda
3                    AELTON JOSE DE FREITAS  Parda
4                   AFONSO ANTUNES DA MOTTA  Branca
5                         ALAN RICK MIRANDA  Parda
6                    ALCEU MOREIRA DA SILVA  Branca
7                    ALEX CANZIANI SILVEIRA  Parda
8                  ALEXANDRE LEITE DA SILVA  Parda
9                    ANDRE DOS SANTOS ABDON  Parda
10              ANDRE LUIZ CARVALHO RIBEIRO  Branca
11                    ANIBAL FERREIRA GOMES  Branca
12     ANTONIO BALHMANN CARDOSO NUNES FILHO  Branca
13            ANTONIO JACOME DE LIMA JUNIOR  Branca
14          ANTONIO JOSE IMBASSAHY DA SILVA  Branca
15  ANTONIO ROBERTO RODRIGUES GÓES DA SILVA  Branca
16             ANTONIO SERGIO ALVES VIDIGAL  Branca
17                 ARNALDO JORDY FIGUEIREDO  Branca
18             ARTHUR CESAR PEREIRA DE LIRA  Branca
19         ARTHUR DE OLIVEIRA MAIA DA SILVA  Branca
20                    ASSIS MIGUEL DO COUTO  Branca
21                       ATILA FREITAS LIRA  Branca
22             AUGUSTO SILVEIRA DE CARVALHO  Branca
23              AUREO LIDIO MOREIRA RIBEIRO  Parda
24                    BENITO DA GAMA SANTOS  Parda
25             BENJAMIN GOMES MARANHAO NETO  Parda
26                        BRUNA DIAS FURLAN  Parda
27        CAIO NARCIO RODRIGUES DA SILVEIRA  Branca
28   CARLOS ALBERTO DE SOUSA ROSADO SEGUNDO  Preta
29          CARLOS CESAR CORREIA DE MESSIAS  Branca
30           CARLOS DO CARMO ANDRADE MELLES  Branca

### Pegar colunas filtradas das 30 primeiras linhas
    - Nome;
    - Altura;
    - Peso;
    - Aniversário;
    - Genero;

In [16]:
select = tabela_gnc_df[['nome', 'altura', 'peso', 'aniversario', 'genero']]
display(select.loc[1:30])

,nome,altura,peso,aniversario,genero
1,ADILTON DOMINGOS SACHETTI,181908.0,97432.0,2019-01-04,Homem
2,ADRIANO ELI CORREA,172459.0,73324.0,2019-01-04,Homem
3,AELTON JOSE DE FREITAS,157748.0,56886.0,2019-01-04,Mulher
4,AFONSO ANTUNES DA MOTTA,151798.0,56886.0,2019-01-05,Mulher
5,ALAN RICK MIRANDA,158623.0,59834.0,2019-01-29,Mulher
6,ALCEU MOREIRA DA SILVA,172705.0,77618.0,2019-01-29,Homem
7,ALEX CANZIANI SILVEIRA,169225.0,68889.0,2019-01-29,Mulher
8,ALEXANDRE LEITE DA SILVA,155487.0,53874.0,2019-01-29,Mulher
9,ANDRE DOS SANTOS ABDON,177908.0,53874.0,2019-01-29,Homem
10,ANDRE LUIZ CARVALHO RIBEIRO,166041.0,53874.0,2019-02-19,Mulher
11,ANIBAL FERREIRA GOMES,166769.0,53874.0,2019-02-19,Homem
12,ANTONIO BALHMANN CARDOSO NUNES FILHO,182764.0,95204.0,2019-02-24,Homem
13,ANTONIO JACOME DE LIMA JUNIOR,182764.0,73255.0,2019-03-05,Mulher
14,ANTONIO JOSE IMBASSAHY DA SILVA,167602.0,62572.0,2019-02-08,Mulher
15,ANTONIO ROBERTO RODRIGUES GÓES DA SILVA,178373.0,87171.0,2019-03-18,Homem
16,ANTONIO SERGIO ALVES VIDIGAL,157795.0,66315.0,2019-03-23,Mulher
17,ARNALDO JORDY FIGUEIREDO,149083.0,40979.0,2019-04-24,Mulher
18,ARTHUR CESAR PEREIRA DE LIRA,149083.0,40979.0,2019-04-24,Mulher
19,ARTHUR DE OLIVEIRA MAIA DA SILVA,149083.0,61065.0,2019-05-07,Mulher
20,ASSIS MIGUEL DO COUTO,159984.0,61065.0,2019-05-11,Mulher
21,ATILA FREITAS LIRA,160903.0,59284.0,2019-05-11,Mulher
22,AUGUSTO SILVEIRA DE CARVALHO,164581.0,63006.0,2019-05-15,Mulher
23,AUREO LIDIO MOREIRA RIBEIRO,149083.0,63006.0,2019-04-08,Homem
24,BENITO DA GAMA SANTOS,165583.0,63006.0,2019-06-02,Homem
25,BENJAMIN GOMES MARANHAO NETO,149083.0,96503.0,2019-06-02,Homem
26,BRUNA DIAS FURLAN,149083.0,83469.0,2019-06-29,Homem
27,CAIO NARCIO RODRIGUES DA SILVEIRA,149083.0,53779.0,2019-07-22,Mulher
28,CARLOS ALBERTO DE SOUSA ROSADO SEGUNDO,149083.0,63006.0,2019-07-01,Mulher
29,CARLOS CESAR CORREIA DE MESSIAS,157046.0,51698.0,2019-08-02,Mulher
30,CARLOS DO CARMO ANDRADE MELLES,149083.0,90939.0,2019-07-02,Homem

### Ajustar valores da altura em cm.

In [50]:
# a partir de uma coluna que existe
tabela_gnc_df['altura'] = tabela_gnc_df['altura']*10
display(tabela_gnc_df)

,estado,nome,cor_pele,genero,peso,altura,aniversario,detalhe
0,RR,ABEL SALVADOR MESQUITA JUNIOR,Parda,Mulher,61235.0,181.908,2019-01-04,não
1,MT,ADILTON DOMINGOS SACHETTI,Parda,Homem,97432.0,181.908,2019-01-04,não
2,SP,ADRIANO ELI CORREA,Parda,Homem,73324.0,172.459,2019-01-04,sim
3,MG,AELTON JOSE DE FREITAS,Parda,Mulher,56886.0,157.748,2019-01-04,sim
4,RS,AFONSO ANTUNES DA MOTTA,Branca,Mulher,56886.0,151.798,2019-01-05,sim
...,...,...,...,...,...,...,...,...
304,RJ,JEAN WYLLYS DE MATOS SANTOS,Branca,Mulher,67973.0,155.722,2020-02-04,sim
305,SP,JEFFERSON ALVES DE CAMPOS,Branca,Homem,67973.0,177.699,2020-01-23,sim
306,BA,JOAO CARLOS PAOLILO BACELAR FILHO,Branca,Mulher,56011.0,158.388,2020-01-23,sim
307,MG,JOAO CARLOS SIQUEIRA,Branca,Mulher,53106.0,157.618,2020-01-23,sim
308,RS,JOAO DERLY DE OLIVEIRA NUNES JUNIOR,Preta,Homem,78882.0,165.412,2020-02-10,sim

### Disparando eventos

    - Botão para mostrar 10 valores da planilha.
        
        * Nome
        * Altura
        * Peso
        * Aniversário

In [17]:
#import ipwidgets as widgets
wid_button = widgets.Button(description="Mostrar Planilha")
wid_output = widgets.Output()
def on_button_clicked(b):
    with wid_output:
        tabela_gnc_df = pd.read_excel("tabela_gnc.xlsx")
        select = tabela_gnc_df[['nome', 'altura', 'peso', 'aniversario',]]
        display(select.loc[1:10])
    
wid_button.on_click(on_button_clicked)
display(wid_button, wid_output)

Button(description='Mostrar Planilha', style=ButtonStyle())

Output()

Obs.: Infelizmente não foi possível realizar a implementação do botão corretamente em tempo hábil, devido ao tempo de entrega.